@using CpWorld.ViewModel
@using CpWorld.Enums;
@model DetailsViewModel;
@{
    ViewData["Title"] = "Details Page";
}

<h3>Order Details</h3>
<div>
    <form>
        <input name="orderId" asp-for="Order.OrderId" hidden />
        @if (Model.Message.Contains("like to delete"))
        {
            <div class="bg-black p-2 text-white border-danger border">
                <div class="text-start">@Model.Message</div>
                <div class="text-end"><button asp-controller="Orders" asp-action="Delete" type="submit">Yes</button> <button asp-controller="Orders" asp-action="Details" type="submit">No</button></div>
            </div>
        }
        <p>
            Customer: @Model.Order.CustomerName<br />
            Order Id: @Model.Order.OrderId<br />
            Total Amount: @Model.Order.TotalAmount
        </p>
        @foreach (var orderItem in Model.Order.OrderItems)
        {
            <p>
                Product Name: <a asp-controller="Orders" asp-action="Item" asp-route-id="@orderItem?.Item?.ItemId">@orderItem.Item?.ProductName</a><br />
                Product Quantity: @orderItem?.Quantity<br />
                Product Price: @orderItem?.Item?.Price<br />
            </p>
        }
        <button asp-controller="Orders" asp-action="Edit" type="submit">@ButtonNames.Edit.ToString()</button> @if (Model.Disabled == ButtonNames.Delete.ToString())
        {
            <button asp-controller="Orders" asp-action="DisplayModal" type="submit" disabled>@ButtonNames.Delete.ToString()</button>
        }
        else
        {
            <button asp-controller="Orders" asp-action="DisplayModal" type="submit">@ButtonNames.Delete.ToString()</button>
        }

    </form>
    <br />
    @Model.Message
</div>
