@model DetailsViewModel;
@{
    ViewData["Title"] = "Details Page";
}

<h3>Order Details</h3>
<div>
    <p>
        Order Id: @Model.Order.OrderId<br />
        Total Amount: @Model.Order.TotalAmount
    </p>
    @foreach (var orderItem in Model.Order.OrderItems)
    {
        <p>
            Product Name: @orderItem.Item.ProductName <br />
            Product Quantity: @orderItem.Quantity<br />
            Product Price: @orderItem.Item.Price<br />
        </p>
    }
</div>
